<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create news</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/base.css' %}">
</head>
<body>
<form action="/news/create/" method="post">
    {% csrf_token %}
    <label for="title">title</label>
    <input type="text" name="title"/>
    <label for="text">text</label>
    <input type="text" name="text"/>
    <button type="submit">ENVIAR</button>
</form>
<a href="/news/">News Page</a>
</body>
</html>
